{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Оплата</title>
    <link rel="stylesheet" href="{% static 'profile/css/payment.css' %}" />
</head>
<body>
    <div class="payment-info-container">
        <h2>Оплата послуг</h2>
        <p><strong>Отримувач:</strong><br>Державний університет інтелектуальних технологій і зв'язку</p>
        <p><strong>Розрахунковий рахунок (IBAN):</strong><br>UA508201720313241001202057205</p>
        <p><strong>ЄДРПОУ:</strong><br>43997335</p>
        <p><strong>Посилання на оплату:</strong></p>
        <a href="https://next.privat24.ua/payments/dashboard" target="_blank">Оплатити через Приват24</a>
    </div>
</body>
</html>
