{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Профиль пользователя</title>
  <link rel="stylesheet" href="{% static 'profile/css/form.css' %}" />
  <link rel="stylesheet" href="{% static 'profile/css/infoAndRequests.css' %}" />
  <script src="{% static 'validation_rooms.js' %}" defer></script>
</head>
<body>
  <div class="container profile">
    <h1>Профиль пользователя</h1>
    <p><strong>Имя:</strong> {{ user.first_name }}</p>
    <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Логин:</strong> {{ user.username }}</p>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Выйти</button>
    </form>
  </div>
  

  
  
  <div class="button-bar">
    {% if request.user.is_authenticated and request.user.role == 'administrator' %}
    <button id="btnMaster" data-url="{% url 'employee_form' %}" data-submit-url="{% url 'create_employee_ajax' %}">Добавить мастера</button>
    <button id="btnStudent" data-url="{% url 'load_student_form' %}">Добавить жильца</button>
  {% endif %}
  
  {% if request.user.is_authenticated %}
    {% if request.user.role == 'administrator' or request.user.role == 'employee' %}
    <button id="btnRequest" onclick="location.href='{% url 'request_list' %}'">Заявки</button>
    {% endif %}
  {% endif %}

  {% if request.user.is_authenticated %}
    {% if request.user.role == 'student' %}
    <button id="btnRepair" >Оставить заявку на ремонт</button>
    <button id="btnInfStudent" >Инфо</button>
    <a href="{% url 'payment_info' %}">
      <button id="btnPayment">Оплата</button>
    </a>
    <button id="btnSettlement" >Оставить заявку на переселение</button>
    {% endif %}
  {% endif %}
  
  </div>
  
  <div class="form-room-wrapper" id="form-room-wrapper" style="display: none;">
    <div id="studentFormContainer"></div>
    <div id="emloyeeformContainer"></div>
    <div id="roomsContainer"></div>
  </div>
  <div id="repairFormContainer" style="display:none;"></div> 
  <div id="resettlementFormContainer" style="display:none; margin-top: 1.5rem;"></div>
  <div id="studentInfoFormContainer" style="display:none;"></div>
  



<script src="{% static 'profile/js/formStudent.js' %}"></script>
<script src="{% static 'profile/js/formEmployee.js' %}"></script>
<script src="{% static 'profile/js/formStudentRequest.js' %}"></script>
<script src="{% static 'profile/js/studentInfo.js' %}"></script>
<script src="{% static 'profile/js/resettlementForm.js' %}"></script>

</body>
</html>
